@media screen and (min-width: 200px) and (max-width: 1200px) {
.Paragraphs{
    display: flex;
    flex-direction: column;
    gap: 50px;
    }

.Paragraphs-div{
width: 100%;
margin: auto;
    }
}

.Paragraphs-div{
width: 80%;
}